 .box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 4 - 15px);
    background: rgb(255, 255, 255);
    padding: 15px 14px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    margin-bottom: 3%;
   
  } 
  
 



  .box-topic{
    font-size: 20px;
    font-weight: 500;
  } 
  .box-topic a{
    text-decoration: none;
    color: #145397;
} 
.home-content{
  padding-left: 1%;
  position: relative;
} 

.table-boxes .boxTable .title{
  font-size: 22px;
  font-weight: 500;
  color: #111213;
  /* margin-bottom: 10px; */
}
.remove{
  background-color: red;
  border-radius: 4px;
  height: 35px;
  width: 85px;
 
}
